# Data Description: Instacart Dataset

[Instacart](https://www.instacart.com/) is an online grocery retailer that sells and deliver grocery products. The data that we will use today comes from the an open sourced subset of 3 million Instacart orders and contains data on what was ordered and which customer ordered it.

In [1]:
import pandas as pd

## Data files

The dataset was released as a part of a Kaggle competition. Instacart described the dataset in the competition description by saying,

> The dataset for this competition is a relational set of files describing customers' orders over time. The goal of the competition is to predict which products will be in a user's next order. The dataset is anonymized and contains a sample of over 3 million grocery orders from more than 200,000 Instacart users. For each user, we provide between 4 and 100 of their orders, with the sequence of products purchased in each order. We also provide the week and hour of day the order was placed, and a relative measure of time between orders. For more information, see the blog post accompanying its [public release](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2).

“The Instacart Online Grocery Shopping Dataset 2017”, Accessed from https://www.kaggle.com/c/instacart-market-basket-analysis/data on 2020-12-27

### Aisles: `aisles.csv`

This file contains metadata about the aisles:

* `aisle_id`: The aisle identifier
* `aisle`: A string name describing the aisle

In [2]:
aisle = pd.read_csv("https://compsosci-resources.s3.amazonaws.com/instacart/aisles.csv")
aisle.to_parquet("aisles.parquet")

In [3]:
aisle.tail()

     aisle_id                       aisle
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

### Departments: `department.csv`

This file contains metadata about the departments:

* `department_id`: The department identifier
* `department`: A string name describing the department

In [4]:
department = pd.read_csv("https://compsosci-resources.s3.amazonaws.com/instacart/departments.csv")
department.to_parquet("departments.parquet")

In [5]:
department.tail()

    department_id department
16             17  household
17             18     babies
18             19     snacks
19             20       deli
20             21    missing

### Products: `products.csv`

This file contains metadata about each of the products:

* `product_id`: An identifier for the product that was purchased
* `product_name`: A string name for the product's description
* `aisle_id`: The aisle identifier for the "aisle" that the item is from
* `department_id`: The department identifier for the department that the item is from

In [6]:
products = pd.read_csv("https://compsosci-resources.s3.amazonaws.com/instacart/products.csv")
products.to_parquet("products.parquet")

In [7]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [8]:
# Count number of items with a particular aisle/department
products.groupby(
    ["aisle_id", "department_id"]
)["product_name"].count().sort_values(
    ascending=False
).reset_index().merge(
    aisle, on="aisle_id", how="left"
).merge(
    department, on="department_id", how="left"
).sort_values(
    ["aisle_id", "department_id"]
).head(25)

,aisle_id,department_id,product_name,aisle,department
109,1,20,146,prepared soups salads,deli
76,2,16,271,specialty cheeses,dairy eggs
10,3,19,832,energy granola bars,snacks
29,4,9,543,instant foods,dry goods pasta
43,5,13,409,marinades meat preparation,pantry
28,6,2,548,other,other
118,7,12,100,packaged meat,meat seafood
68,8,3,297,bakery desserts,bakery
45,9,9,399,pasta sauce,dry goods pasta
89,10,17,218,kitchen supplies,household
42,11,11,427,cold flu allergy,personal care
112,12,9,123,fresh pasta,dry goods pasta
63,13,20,317,prepared meals,deli
106,14,20,159,tofu meat alternatives,deli
126,15,12,80,packaged seafood,meat seafood
122,16,4,86,fresh herbs,produce
20,17,13,623,baking ingredients,pantry
133,18,10,12,bulk dried fruits vegetables,bulk
50,19,13,375,oils vinegars,pantry
25,20,11,565,oral hygiene,personal care
7,21,16,891,packaged cheese,dairy eggs
11,22,11,816,hair care,personal care
65,23,19,316,popcorn jerky,snacks
49,24,4,382,fresh fruits,produce
30,25,11,525,soap,personal care

### Orders: `orders.csv`

This file contains meta information about each of the 3 million orders that are covered in the dataset.

* `order_id`: A unique identifier for each order made
* `user_id`: A unique identifier for each consumer that made one of the 3 million orders
* `eval_set`: Instacart released this data for machine learning and classified orders into `prior`, `train`, and `test`
* `order_number`: The order in which the individual made the given orders
* `order_dow`: An integer between 0 and 6 denoting the day of the week the order was made
* `order_hour_of_day`: An integer between 0 and 23 denoting the hour of the day that the order was made
* `days_since_prior_order`: An integer that represents how many days it has been since a customers previous order

**What is not included?**

Instacart does not disclose the exact date of the transactions or the geography in which the transaction took place.

In [9]:
orders = pd.read_csv("https://compsosci-resources.s3.amazonaws.com/instacart/orders.csv")
orders.to_parquet("orders.parquet")

In [10]:
orders.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [11]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

### Order Products: `order_products__prior.csv` and `order_products__train.csv`

This file contains detailed information about each of the orders:

* `order_id`: A unique identifier that describes which order the purchase belonged to
* `product_id`: An identifier for the product that was purchased
* `add_to_cart_order`: The order in which the items were placed in the cart
* `reordered`: Was the item reordered

**What is not included?**

Instacart does not disclose two pieces of information that would typically be important:

1. Price paid for a product
2. Quantity purchased

In [12]:
prior_orders = pd.read_csv("https://compsosci-resources.s3.amazonaws.com/instacart/order_products__prior.csv")

prior_orders.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [13]:
train_orders = pd.read_csv("https://compsosci-resources.s3.amazonaws.com/instacart/order_products__train.csv")

train_orders.describe()

           order_id    product_id  add_to_cart_order     reordered
count  1.384617e+06  1.384617e+06       1.384617e+06  1.384617e+06
mean   1.706298e+06  2.555624e+04       8.758044e+00  5.985944e-01
std    9.897326e+05  1.412127e+04       7.423936e+00  4.901829e-01
min    1.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.433700e+05  1.338000e+04       3.000000e+00  0.000000e+00
50%    1.701880e+06  2.529800e+04       7.000000e+00  1.000000e+00
75%    2.568023e+06  3.794000e+04       1.200000e+01  1.000000e+00
max    3.421070e+06  4.968800e+04       8.000000e+01  1.000000e+00

In [14]:
order_products = pd.concat([prior_orders, train_orders], axis=0, ignore_index=True)
order_products.to_parquet("order_products_all.parquet")

## Relational nature of the files

These files are organized in a way that each one contains information that either references or is referenced by one of the other files.

* `aisles.csv` and `departments.csv` are used to provide additional information and context for `products.csv`.
* `products.csv` describes the products that appear in `order_products__prior.csv` and `order_products__train.csv`.
* `orders.csv` contains information about when and who made the orders that show up in `order_products__prior.csv` and `order_products__train.csv`.

 Let's explicitly write down these relationships to set the stage for the coming lecture about SQL.

## Most frequently reordered?

Instacart was particularly interested in determining whether certain items (or groups of items) were reordered more than others.

Let's explore what items/groups were the most reordered -- We will do this by computing the fraction of "reorders" for a particular item/group ($j$) by computing:

$$\gamma_j = \frac{\sum_i \sum_{t_i} \mathbb{1}_{\text{reordered } j}}{\sum_i \sum_{t_i} \mathbb{1}_{\text{ordered } j}}$$

In [15]:
order_product_user = order_products.merge(
    orders.loc[:, ["order_id", "user_id", "order_number", "days_since_prior_order"]],
    how="left", on="order_id"
)

In [16]:
order_product_user.sort_values(["user_id", "order_number", "add_to_cart_order"])

**Most reordered products**

In [ ]:
mrp = order_product_user.loc[
    ~order_product_user["days_since_prior_order"].isna(), :
].groupby(
    "product_id"
).agg(
    {"add_to_cart_order": "count", "reordered": "sum"}
).query(
    "reordered > 10"
).rename(
    columns={"add_to_cart_order": "norder", "reordered": "nreorder"}
).assign(
    frac_reorder=lambda x: x["nreorder"] / x["norder"]
).sort_values(
    "frac_reorder", ascending=False
).merge(products, on="product_id", how="left")

In [ ]:
mrp.describe()

In [ ]:
mrp.head()

In [ ]:
order_product_user.query("product_id == 43553").sort_values(["user_id", "order_number"])